<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MehLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <MehLauncher.Properties.Settings>
            <setting name="authResponse" serializeAs="String">
                <value />
            </setting>
            <setting name="UseToken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedClient" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastEnteredRAM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="userUUID" serializeAs="String">
                <value />
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value />
            </setting>
        </MehLauncher.Properties.Settings>
    </userSettings>
</configuration>