[*.cs]

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = none

# CA1416: Проверка совместимости платформы
dotnet_diagnostic.CA1416.severity = none

# CS8612: Допустимость значения NULL для ссылочных типов в типе не совпадает с явно реализованным членом.
dotnet_diagnostic.CS8612.severity = none

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Возможно, стоит объявить поле как допускающее значения NULL.
dotnet_diagnostic.CS8618.severity = none
